.icon {
    margin-right: 2;
}
.heroContent {
    background-color: greenyellow;
    padding: 8 0 6;
}
.heroButtons {
    margin-top: 4;
}
.cardGrid {
    padding-top: 8;
    padding-bottom: 8;
}
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cardMedia {
    padding-top: 56.25%;
}
.cardContent {
    flex-grow: 1;
}
footer {
    background-color: greenyellow;
    padding: 6;
}